name: Cache Cleanup

on:
  pull_request_target:
    types: [closed]

permissions:
  actions: write

jobs:
  cleanup:
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup caches for closed PR branch
        run: |
          gh extension install actions/gh-actions-cache

          echo "Fetching list of cache keys for branch $BRANCH"
          cacheKeysForPR=$(gh actions-cache list -R $REPO -B $BRANCH | cut -f 1)

          ## Setting this to not fail the workflow while deleting cache keys
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR; do
            gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REPO: ${{ github.repository }}
          BRANCH: refs/pull/${{ github.event.pull_request.number }}/merge
